@charset "UTF-8";

body {
	background: #f5f5f5;
}

.center {
	text-align: center;
}

.little {
	width: 70px;
}

.popup {
	display: none;
}

.button, input, button, select {
	margin: 10px auto;
}

.popup_form {
	background: #ffffff;
	padding: 20px;
}